NODE_ENV=development

# MySQL 数据库默认配置
DATABASE_USER=root
DATABASE_PASSWORD=password
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_NAME=aiflowagent

# Chroma 向量数据库默认配置
CHROMA_HOST=localhost
CHROMA_PORT=8000

# MinIO 对象存储默认配置
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=miniopassword
MINIO_BUCKET_NAME=aiflowagent
MINIO_ENDPOINT=http://localhost:9000

# ollama
# OLLAMA_HOST 已通过 系统 export OLLAMA_HOST=<HOST> 注入
OLLAMA_MODEL=gemma4:26b